/************************************
 *
 *  Main Styles to compile. Here only @imports!
 *
 ************************************/

@import "_variables";
@import "_fonts";

.center {
	margin: 0 auto;
}

.button-caps {
	text-transform: uppercase;
	padding: 0 2em;
}

.option-buttons {
	margin-top: 2px;
}
