<ion-view view-title="Your Poll Question">
  <ion-content>
  	<div class="list">
          
		<div class="item item-borderless">
  			Enter Poll ID :&nbsp;
		</div>
  		<label class="item item-input assertive item-borderless">
  			<input type="text" placeholder="Enter Poll ID" ng-model="poll.id" autofocus required>
  		</label>
          <label class="item item-input assertive item-borderless">
         <button class="button button-clear" ng-click="verify()" ng-disabled="id.length > 10">Get Poll</button>
         </label>
  		<div class="item item-divider-android item-borderless" ng-show="verified">
  			Poll Subject {{poll.subject}}
  		</div>
        <div class="item item-borderless" ng-if="verified">
  			Options
              <div class="list">
                   <div class="item item-borderless" ng-repeat="option in options" ng-click="setPoll(option.id)">
                       {{option.text}}
              </div>    
  		</div>
  		<!--<div class="item range item-borderless">
		  <input type="range" class="" ng-model="q.optionCount" max="4">
		</div>
  		<label class="item item-input" ng-repeat="i in getNumber(q.optionCount) track by $index">
  			Option {{$index + 1}}&nbsp;&nbsp;<input type="text" placeholder="Option Text" ng-model="q.option">
  		</label>
  		<div class="row">
  			<button class="button button-assertive center button-caps" ng-click="send(q)">Generate Poll</button>
  		</div>-->

  	</div>
  </ion-content>
</ion-view>